script(src="/js/vendor/jquery-3.4.1.min.js")
script(src="/js/vendor/popper.min.js")
script(src="/js/vendor/bootstrap.min.js")
script(src="/js/vendor/parsley.min.js")
script(src="/js/vendor/mdb.min.js")
script(src="/js/vendor/mdbsidebar.js")