footer.page-footer.pt-0.mt-5
  .footer-copyright.py-3.text-center
    .container-fluid &copy; 2019 Copyright: 
      a(href='https://mdbootstrap.com/education/bootstrap/' target='_blank')  MDBootstrap.com 