#slide-out.side-nav.sn-bg-4.fixed
  ul.custom-scrollbar
    li.logo-sn.waves-effect.py-3
      .text-center
        a.pl-0(href='#')
          img(src='https://mdbootstrap.com/img/logo/mdb-transaprent-noshadows.png')
    li
      form.search-form(role='search')
        .md-form.mt-0.waves-light
          input.form-control.py-2(type='text' placeholder='Search')
    li
      ul.collapsible.collapsible-accordion
        li
          a.collapsible-header.waves-effect.arrow-r
            i.fas.fa-tachometer-alt
            |                 Dashboards
            i.fas.fa-angle-down.rotate-icon
          .collapsible-body
            ul
              li
                a.waves-effect(href='../dashboards/v-1.html') Version 1
              li
                a.waves-effect(href='../dashboards/v-2.html') Version 2
              li
                a.waves-effect(href='../dashboards/v-3.html') Version 3
              li
                a.waves-effect(href='../dashboards/v-4.html') Version 4
              li
                a.waves-effect(href='../dashboards/v-5.html') Version 5
              li
                a.waves-effect(href='../dashboards/v-6.html') Version 6
        li
          a.collapsible-header.waves-effect.arrow-r
            i.fas.fa-image
            |  Pages
            i.fas.fa-angle-down.rotate-icon
          .collapsible-body
            ul
              li
                a.waves-effect(href='../pages/login.html') Login
              li
                a.waves-effect(href='../pages/register.html') Register
              li
                a.waves-effect(href='../pages/pricing.html') Pricing
              li
                a.waves-effect(href='../pages/about.html') About us
              li
                a.waves-effect(href='../pages/single.html') Single post
              li
                a.waves-effect(href='../pages/post.html') Post listing
              li
                a.waves-effect(href='../pages/landing.html') Landing page
              li
                a.waves-effect(href='../pages/customers.html') Customers
              li
                a.waves-effect(href='../pages/invoice.html') Invoice
              li
                a.waves-effect(href='../pages/page-creator.html') Page Creator
              li
                a.waves-effect(href='../pages/support.html') Support
              li
                a.waves-effect(href='../pages/chat.html') Chat
        li
          a.collapsible-header.waves-effect.arrow-r
            i.fas.fa-user
            |  Profile
            i.fas.fa-angle-down.rotate-icon
          .collapsible-body
            ul
              li
                a.waves-effect(href='../profile/basic-1.html') Basic 1
              li
                a.waves-effect(href='../profile/basic-2.html') Basic 2
              li
                a.waves-effect(href='../profile/extended.html') Extended
        li
          a.collapsible-header.waves-effect.arrow-r
            i.fab.fa-css3
            |  CSS
            i.fas.fa-angle-down.rotate-icon
          .collapsible-body
            ul
              li
                a.waves-effect(href='../css/grid.html') Grid system
              li
                a.waves-effect(href='../css/media.html') Media object
              li
                a.waves-effect(href='../css/utilities.html') Utilities / helpers
              li
                a.waves-effect(href='../css/code.html') Code
              li
                a.waves-effect(href='../css/icons.html') Icons
              li
                a.waves-effect(href='../css/images.html') Images
              li
                a.waves-effect(href='../css/typography.html') Typography
              li
                a.waves-effect(href='../css/animations.html') Animations
              li
                a.waves-effect(href='../css/colors.html') Colors
              li
                a.waves-effect(href='../css/hover.html') Hover effects
              li
                a.waves-effect(href='../css/masks.html') Masks
              li
                a.waves-effect(href='../css/shadows.html') Shadows
              li
                a.waves-effect(href='../css/skins.html') Skins
        li
          a.collapsible-header.waves-effect.arrow-r
            i.fas.fa-th
            |  Components
            i.fas.fa-angle-down.rotate-icon
          .collapsible-body
            ul
              li
                a.waves-effect(href='../components/buttons.html') Buttons
              li
                a.waves-effect(href='../components/cards.html') Cards
              li
                a.waves-effect(href='../components/collapse.html') Collapse
              li
                a.waves-effect(href='../components/date.html') Date picker
              li
                a.waves-effect(href='../components/list.html') List group
              li
                a.waves-effect(href='../components/panels.html') Panels
              li
                a.waves-effect(href='../components/pagination.html') Pagination
              li
                a.waves-effect(href='../components/popovers.html') Popovers
              li
                a.waves-effect(href='../components/progress.html') Progress bars
              li
                a.waves-effect(href='../components/stepper.html') Stepper
              li
                a.waves-effect(href='../components/tabs.html') Tabs &amp; pills
              li
                a.waves-effect(href='../components/tags.html') Tags, labels &amp; badges
              li
                a.waves-effect(href='../components/time.html') Time picker
              li
                a.waves-effect(href='../components/tooltips.html') Tooltips
        li
          a.collapsible-header.waves-effect.arrow-r
            i.far.fa-check-square
            |  Forms
            i.fas.fa-angle-down.rotate-icon
          .collapsible-body
            ul
              li
                a.waves-effect(href='../forms/basic.html') Basic
              li
                a.waves-effect(href='../forms/extended.html') Extended
        li
          a.collapsible-header.waves-effect.arrow-r
            i.fas.fa-table
            |  Tables
            i.fas.fa-angle-down.rotate-icon
          .collapsible-body
            ul
              li
                a.waves-effect(href='../tables/basic.html') Basic
              li
                a.waves-effect(href='../tables/extended.html') Extended
              li
                a.waves-effect(href='../tables/datatables.html') DataTables.net
        li
          a.collapsible-header.waves-effect.arrow-r
            i.fas.fa-map
            |  Maps
            i.fas.fa-angle-down.rotate-icon
          .collapsible-body
            ul
              li
                a.waves-effect(href='../maps/google.html') Google Maps
              li
                a.waves-effect(href='../maps/full.html') Full screen map
              li
                a.waves-effect(href='../maps/vector.html') Vector world map
        li
          a.collapsible-header.waves-effect(href='../alerts/alerts.html')
            i.far.fa-bell
            |                 Alerts
        li
          a.collapsible-header.waves-effect(href='../modals/modals.html')
            i.fas.fa-bolt
            |                 Modals
        li
          a.collapsible-header.waves-effect(href='../charts/charts.html')
            i.fas.fa-chart-pie
            |                 Charts
        li
          a.collapsible-header.waves-effect(href='../calendar/calendar.html')
            i.far.fa-calendar-check
            |                 Calendar
        li
          a.collapsible-header.waves-effect(href='../sections/sections.html')
            i.fas.fa-th-large
            |                 Sections